/*--Preset--*/

:root {
  --white-color: #ffffff;
  --pink-color: #eb005e;
  --black-color: #000000c0;
  --gray-color: #cccccc;
  --gray-text-color: #3b3b3b;
}

/*--Reset--*/

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

body {
  user-select: none;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/*--StatusOverlay--*/

.status-overlay-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffcc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: all;
  touch-action: none;
  cursor: wait;
  user-select: none;
  overflow: hidden;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid var(--pink-color);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  background-color: #ffdddd;
  color: #a10000;
  border: 1px solid #a10000;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 0.75rem;
  text-align: center;
  animation: fade-in 0.3s ease;
  pointer-events: none;
  touch-action: none;
  cursor: default;
  margin: 15px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*--Lobby--*/

.lobby-main-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.lobby-form-container {
  align-self: flex-end;
  margin: 12px;
}

.lobby-form-container .lobby-title {
  color: var(--white-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.lobby-button-container {
  display: flex;
  flex-direction: column;
}

.lobby-button-container button {
  padding: 11px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--white-color);
}

.lobby-button-container .lobby-button-1 {
  background-color: var(--pink-color);
  margin-bottom: 8px;
}

.lobby-button-container .lobby-button-2 {
  background-color: var(--black-color);
  border: 1.5px solid var(--white-color);
}

/*--CreateAccount--*/

.create-account-container {
  padding: 10px;
  background-color: var(--white-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.create-account-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "btn ttl ttl ttl ttl .";
  height: 35px;
  align-items: center;
  margin-bottom: 10px;
}

.create-account-header-title {
  font-size: 0.75rem;
  font-weight: 600;
  justify-self: center;
}

.create-account-back-button {
  border: none;
  background-color: inherit;
  width: 23px;
  height: 23px;
  justify-self: start;
  align-self: center;
  grid-area: btn;
}

.create-account-header-title {
  grid-area: ttl;
}

.create-account-subtitle {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.create-account-conditions-button {
  margin: 7px 0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 85px;
}

.create-account-conditions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "icn1 txt txt txt txt icn2";
  padding: 20px 0;
  width: inherit;
  height: inherit;
}

.condition-text-container {
  grid-area: txt;
  text-align: start;
}

.condition-text-container h3 {
  font-size: 0.65rem;
  font-weight: 600;
  margin-bottom: 2px;
  letter-spacing: 0.3px;
}

.condition-text-container p {
  font-size: 0.55rem;
  letter-spacing: 0.1px;
  color: var(--gray-text-color);
}

.create-account-conditions img {
  width: 23px;
  height: 23px;
}

.create-account-conditions img[id="icon1"],
.create-account-conditions img[id="icon2"] {
  align-self: center;
  justify-self: center;
}

.create-account-conditions img[id="icon1"] {
  grid-area: icn1;
  width: 30px;
  height: 30px;
}

.create-account-conditions img[id="icon2"] {
  grid-area: icn2;
}

.create-account-restiction {
  font-size: 0.5rem;
}

.create-account-footer {
  margin-top: auto;
}

.create-account-footer-textbox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "chc ctext";
  margin-top: 10px;
}

.create-account-footer-textbox input {
  grid-area: chc;
  width: 13px;
  height: 13px;
  margin-right: 10px;
  align-self: baseline;
  accent-color: #02a25a;
  color: var(--white-color);
}

.create-account-footer-textbox p {
  grid-area: ctext;
  font-size: 0.64rem;
  letter-spacing: 0.3px;
  text-align: justify;
}

.create-account-footer-button {
  width: 100%;
  margin-top: 15px;
  height: 35px;
  border-radius: 7px;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-weight: 500;
}

.create-account-footer-button:disabled {
  background-color: var(--gray-color);
  cursor: not-allowed;
  color: var(--white-color);
  font-weight: 500;
}

/*--AuthPage--*/

.auth-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.welcome-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-section header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "btn2 lgo .";
}

.auth-page-back-button {
  grid-area: btn2;
  width: 23px;
  height: 23px;
}

.welcome-section header img {
  grid-area: lgo;
  width: 65px;
  justify-self: center;
}

.welcome-section h2 {
  width: 80%;
  margin: 0 auto;
  color: var(--white-color);
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.input-section {
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  transition: transform 0.4s ease;
}

.keyboard-active .input-section {
  position: fixed;
  inset: 0;
  margin: 0;
  margin: 0px;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-color);
  transform: translateY(0);
}

.keyboard-active .input-section-1 {
  margin-top: 40px;
}

.input-section label {
  font-size: 0.75rem;
  font-weight: 600;
}

.input-section input {
  width: 100%;
  font-size: 0.7rem;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid var(--gray-color);
}

.input-section-1 {
  margin-top: 15px;
}

.enter-keyboard-button {
  margin-top: 16px;
  width: 100%;
  padding: 11px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray-color);
  color: white;
  font-size: 0.75rem;
}

.enter-keyboard-button.valid {
  background-color: var(--pink-color);
}

.custom-keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
  padding: 10px;
  background-color: var(--white-color);
  z-index: 3;
}

.custom-keyboard button {
  font-size: 0.7rem;
  padding: 15px;
  font-weight: 600;
  color: black;
  border: none;
  border-radius: 10px;
  background-color: var(--white-color);
  transition: background-color 0.2s;
}

.custom-keyboard button:active {
  background-color: var(--gray-color);
}

.close-keyboard-button {
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--white-color);
  border: none;
  width: 23px;
  height: 23px;
  margin: 0;
}

.close-keyboard-button img {
  background: var(--white-color);
  width: 23px;
  height: 23px;
}

.delete-button img {
  width: 17px;
}
